html,
body {
    overflow-x: hidden;
}

body {
    direction: rtl;
    text-align: right;
}

.register-main {
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
}

.register-box {
    border-radius: 25px;
    min-height: 80vh;
    transform: scale(.85);
    left: 0;
}

.register-box h3,
.register-box h5,
.register-box h6 ,
label{
    color: #583e86;
}

.register-text-box,
.register-form-box {
    background-color: rgba(255, 255, 255, 0.7);
}

.register-text-box {
    background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width:992px) {
    .register-box {
        width: 100% !important;
    }
}

@media (max-width:768px) {
    .register-main {
        height: 75rem;
        background-image: url('http://zapptaxi.com:3002/images/landing/Samsung3.png') !important;
        background-position: bottom;
    }

    .register-box{
        margin-top: -1rem!important;
    }

    .register-main h3 {
        width: 100% !important;
        text-align: center!important;
        padding: 0!important;
    }
}